</main><footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 data-toc-skip class="footer-heading">0xdf hacks stuff</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">0xdf hacks stuff</li><li><a class="u-email" href="mailto:0xdf.223@gmail.com">0xdf.223@gmail.com</a></li></ul>
      </div>

      <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://www.twitter.com/0xdf_"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">0xdf_</span></a></li><li><a href="https://www.hackthebox.eu/home/users/profile/4935"><img class="svg-icon" src="/assets/icons/htb-favicon.png" /><span class="username">0xdf</span></a></li><li><a href="https://mm.netsecfocus.com/nsf/messages/@oxdf"><img class="svg-icon" src="/assets/icons/mattermost-icon-128.png" /><span class="username">oxdf</span></a></li><li><a href="/feed.xml"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#rss"></use></svg> <span>feed</span></a></li></ul>
</div>

      <div class="footer-col footer-col-3">
        <p>CTF solutions, malware analysis, home lab development</p>
      </div>
    </div>

  </div>


  <script src="/assets/js/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="/assets/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/assets/js/bootstrap-toc.min.js"></script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
</footer>